.content {
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-gap: 3rem;
  gap: 3rem;
  grid-template-areas: "sidebar main anchors";
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar {
  grid-area: sidebar;
  border-right: solid 1px #cdcdcd;
  padding-right: 15px;
}

.main {
  grid-area: main;
}

.anchors {
  grid-area: anchors;
  border-left: solid 1px #cdcdcd;
  padding-left: 15px;
}

.dragonballimage {
  width: 300px;
  height: 150px;
}

.dragonballimage2 {
  width: 180px;
}

footer {
  text-align: center;
}